.*/
.*
!.Config/
certs/*
env.d/*
kube.d/*
packages/go/*/
source.d/local.source
.bash_history
.bash_logout
.dmrc
.gitconfig
.ICEauthority
.sudo_as_admin_successful
.viminfo
.Xauthority
.Xdefaults
.xscreensaver
.xsession-errors
.zcompdump
