# dot stuff
.*/
.*
*.png
!.Config/
.bash_history
.bash_logout
.dmrc
.ICEauthority
.sudo_as_admin_successful
.viminfo
.Xauthority
.Xdefaults
.xscreensaver
.xsession-errors
.zcompdump
# .d stuff
env.d
kube.d
# misc
Android/
ansible-temp
certs/*
Desktop
Documentation
Downloads
go/
packages/go/*/
Pictures
Screenshots/
snap
SoftMaker/
Templates
VirtualBox VMs/
Videos/
