# dot stuff
.*/
.*
!.Config/
.bash_history
.bash_logout
.dmrc
.gitconfig
.ICEauthority
.sudo_as_admin_successful
.viminfo
.Xauthority
.Xdefaults
.xscreensaver
.xsession-errors
.zcompdump
# .d stuff
env.d
kube.d
rancher.d
source.d/local.source
# misc
ansible-temp
certs/*
Desktop
Documentation
Downloads
go/
packages/go/*/
Pictures
snap
Templates
VirtualBox VMs/
